body { padding-bottom: 2%;
		padding-top: 2%; }

.jumbotron{
	margin-bottom: 0;
	border-bottom: solid 5px #333;
}

#previewSlide{
    width: 50%;
    height: 50%;
    margin-top: 2%;
}

#myCarousel{
	float: right;
}

.compPreview{
	width:75%;
}

.resume{
	margin-top: 7%
}

.nav-button{
	margin-bottom: .7%;
}

.navbarCustom{
	float: left;
    height: 50px;
    padding: 15px 15px;
    font-size: 18px;
    line-height: 20px;
	color: #8E7E95;
}

.navbarCustom:before{
	content: "Joshua Resnick Dev && Design";
}

.navbarCustom:hover{
	transition: 4s, linear;
	color:#00FA1E;
}

#starthidden{
	display:none;
}
.modalTable{
	margin-left: 3%;
}

.col-centered {
    float: none;
    display: inline-block;
    margin-left: auto;
    margin-right: auto;
}

@media(max-width: 800px){

    .navbar-collapse.collapse {
        display: none !important;
    }
    .navbar-collapse.collapse.in {
        display: block !important;
    }
    .navbar-header .collapse, .navbar-toggle {
        display:block !important;
    }
    .navbar-header {
        float:none;
    }

	#tobehidden{
		display:none;
	}
	#starthidden{
		display:block;
	}
}

@media(max-width: 650px){

	.carouselText{
		font-size: 16px;
		}

	.btn-primary{
		padding: 1%;
	}
	.btn-primary:hover{
		transition: 1s linear;
	}

}

@media(max-width: 350px){
	.navbarCustom:before{
		content:"Joshua Resnick";
	}
}