#previewSlide{
    width: 50%;
    height: 50%;
}

#myCarousel{
	float: right;
}

.resume{
	margin-top: 7%
}

.navbarCustom{
	float: left;
    height: 50px;
    padding: 15px 15px;
    font-size: 18px;
    line-height: 20px;
	color: #8E7E95;
}

.navbarCustom:hover{
	transition: 4s, linear;
	color:#00FA1E;
}

<<<<<<< Updated upstream
@media(max-width: 650px){

	.carouselText{
		font-size: 16px;
	}

=======
.btn-primary{
	padding: 1%;
}
.btn-primary:hover{
	transition: 1s linear;
>>>>>>> Stashed changes
}