$bgcMain: rgba(0,0,0,0.1);
$primary: #4a148c;
$secondary: #c6067b;
$tertiary: #180066;

@font-face{
	font-family: "No Man Sky";
	src: url(../../../fonts/geonms-webfont.ttf) format("truetype");
}

body{
	background-color:$bgcMain;
	width:100%;
}

section{
	height: 100vh;
}

p{
	border: 1px $secondary solid;
	background-color: $bgcMain;
	margin: 5px;
	border-radius: 4px;
	overflow: visible;
}

// .container{
// 	max-width: 90%;
// 	width: 100%;
// 	margin:0px !important;
// }

.nav-wrapper{
	position: fixed;
	background-color: $primary;
}

nav .sidenav-trigger {
	height: 40px;
}

nav .sidenav-trigger i {
	height: 40px;
	line-height: 40px;
}

.navbar-fixed{
	height:40px;
}
.navbar-fixed nav {
	height:40px;
}

#nav{
	height: 40px;
}

#nav li{
	height: 40px;
}


#nav li a{
	height: 40px;
	line-height: 40px;
}

//SideNav Styles
.sidenav{
	background-color:rgba(74,20,140,0.8);
	width: 200px;
}

.sidenav li{
	text-align: center;
}

.sidenav li a{
	color:white;
}

#particles-js canvas{
	z-index: 0;
}

h1, h3, h4{
	font-family: "No Man Sky";
	font-weight: bold;
	color: $tertiary;
}

h1 div{
	display: inline-block;
}

h3 div{
	display: inline-block;
}

.btn{
	height: auto;
	background-color: $secondary;
	// color: #fe9600;
	font-weight: bold;
	border-radius: 4px;
	display: inline-flex;
	vertical-align: middle;
}

.divider{
	width:100%;
	border-top:1px $tertiary solid;
	height: 1px;
	margin-bottom:15px;
}

// projects
.projectBtn{
	margin-bottom: 15px;
	margin-right: 15px;
}

#mobileDropdown{
	margin-left:25%;
}

.projectImg{
	max-height: 400px;
}

#project{
	opacity: 0;
}

.dropdown-trigger{
	margin-bottom:15px;
}

.skillContainer{
	border: 1px $secondary solid;
	background-color: $bgcMain;
	margin: 5px;
	font-weight: bold;
	border-radius: 4px;
	text-align: center;
	overflow: visible;
}
#desc{
	border: 1px $secondary solid;
	border-radius: 4px;
	background: $bgcMain;
}

#projectDropdown li {
	text-align: center;
}

.download-icon{
	margin-top: 5px;
	height: 40px;
	width: 130px;
}

@media screen and (max-width: 600px) {
	.download-icon{
		height: 32px;
		width: 110px;
	}	
}

// About

#about{
	padding-top: 20px;
}

#aboutImg{
	border-radius: 50%; 
	// max-height: 220px;
}

#aboutSkillsContainer{
	display: flex;
	flex-wrap: wrap;
	justify-content: center;
	align-content: center;
}

.aboutSkills{
	border: 1px $secondary solid;
	border-radius: 4px;
	text-align: center;
	background-color: $bgcMain;
	margin:10px;
	width:25%;
	font-size: 1.1rem;
	font-weight: 500;
	padding: 5px 0px 5px 0px ;
}

//Contact
#contact{
	padding-top:30px;
}

@media screen and (max-width: 600px) {
	.aboutSkills{
		width:75%;
		margin-top:2px;
	}

	#picture{
		padding:0px;
	}
 }
